@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

img {
    width: 200px;
}



h1 {
    color: green;
    margin: 10px 10px;
}

h2 {
    color: black;
    margin: 10px 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}



header {
    background-color: rgb(92.94% 40% 26.27%);
    margin: 0 0px;
}

footer {
    padding: 24px 16px;
    margin-top: auto;
    bottom: 0%;
    background-color: rgb(72.94% 80.78% 45.49%);
}

/* not used
main {
    height: auto;
    padding: 16px;

}
*/


nav {
    border: 0;
    border-bottom: 1px solid black;
    padding: 16px;
}

a:hover {
    color: rgb(255, 0, 0);
}

a {
    text-decoration: none;
}

/*
div div {
    box-shadow: 0 2px 4px 2px #7725B2;
    transition: box-shadow 0.5s;
    transition: color 1.5s;
}
*/

/*
div div:hover {
    box-shadow: 0 2px 4px 2px #5bb225;
    font-size: 48px;
    color:rgb(255, 0, 0);
    transform: translateY(+10px) translateX(-10px)
}
*/

.griddy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 0 10px;
}

div.centered-text {
    padding: 5% 30% 10% 10%;
}

.center-it {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

img.center-it {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 9%;
}
tr:nth-child(odd) {
    background-color: lightslategray;
}

table {
    min-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

ol {
    min-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#table-title {
    background-color: orange;
}
